<section class="course-hole-overview row full-bleed height-match-fix accordion">

  <div class="accordion-panel">

    <h3 class="text-secondary-size overview-toggle accordion-toggle" data-target="#ce-overview" accordion-toggle>
      Course Overview
      <!-- <span class="icon-stack icon-stack-left icon-lg pull-right hidden-md hidden-lg">
        <i class="icon icon-circle-outline icon-stack-1x"></i>
        <i class="icon icon-plus-sm icon-stack-1x"></i>
      </span> -->

      <span class="icon-stack icon-stack-right icon-lg hidden-md hidden-lg">
        <span class="icon icon-circle-outline"></span>
        <span class="icon accordion-toggle-icon"></span>
      </span>
    </h3>

    <div id="ce-overview" class="accordion-content">
      <div class="col-xs-12 col-md-8 container-white">
        <div class="overview-content">
          <p>Royal Liverpool — or Hoylake, as it is usually known — is the second-oldest seaside links golf course in England, and was the first course in North-West England to host The Open. Built on the racecourse of the Liverpool Hunt Club, it retained a dual role as horse racing venue and golf course for the first few years of its life.</p>
          <p>"Blown upon by mighty winds, breeder of mighty champions," is how Bernard Darwin described Royal Liverpool, and looking at the list of Hoylake Open winners it’s hard to disagree.  Harold Hilton, Walter Hagen, Bobby Jones, Peter Thomson and Roberto De Vicenzo have all lifted the Claret Jug on the Wirral Links, and Tiger Woods earned his third Open title when the Championship returned to Hoylake in 2006 after a 39 year absence.</p>
          <p>In preparation for the 2014 Open Championship, Royal Liverpool has undergone a number of changes to strengthen the challenge for the world’s leading players. The course will measure 7,312 yards and play to a par of 72, 54 yards longer than in 2006. A number of bunkers have been removed, leaving 82 in total across the course. Five holes have new swales around the greens to punish errant shots with more varied hazards, while broken ground has been created in the rough on a number of holes to create tougher escape shots.</p>
          <p>
            <a class="colour-blue-dark" href="#" ng-click="changeHole($event, 1)">
              Hole One - Burn
              <span class="icon-stack icon-stack-left icon-lg">
                <i class="icon icon-circle-outline icon-stack-1x"></i>
                <i class="icon icon-chevron-right-sm icon-stack-1x"></i>
              </span></a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 full-bleed container-grey-light remove-top-padding height-match">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <!-- src for this image should be the following size: 1200x545 -->
          <source media="(min-width: 1200px)"
                  srcset="/images/course-explorer/rory-mcilroy-overview-desktop.jpg">
          <!-- src for this image should be the following size: 2048x930 @2x and 1024x465 -->
          <source media="(min-width: 992px)"
                  srcset="/images/course-explorer/rory-mcilroy-overview-desktop.jpg 2x,
                          /images/course-explorer/rory-mcilroy-overview-desktop.jpg">
          <!-- src for this image should be the following size: 1536x700 @2x and 768x350 -->
          <source media="(min-width: 768px)"
                  srcset="/images/course-explorer/rory-mcilroy-overview-desktop.jpg 2x,
                          /images/course-explorer/rory-mcilroy-overview-desktop.jpg">
          <!-- src for this image should be the following size: 640x600 @2x and 320x300 -->
          <source media="(max-width: 767px)"
                  srcset="/images/course-explorer/rory-mcilroy-overview-desktop.jpg 640w,
                          /images/course-explorerrory-mcilroy-overview-desktop.jpg 320w"
                  sizes="100vw">
          <!--[if IE 9]></video><![endif]-->
          <img class="img-responsive" src="/images/course-explorer/rory-mcilroy-overview-desktop.jpg" alt="Rory McIlroy">
        </picture>

        <div class="add-internal-padding add-full-padding-top">
          <h4 class="colour-blue-dark">Old Course Pro Guide with Rory McIlroy</h4>
          <p>World number one Rory McIlroy has taken time out of his busy schedule to provide you with a step by step guide to playing each of the intricate and challenging holes here on the St Andrews Old Course.</p>
          <p>
            <a class="colour-blue-dark" href="#" ng-click="changeHole($event, 4)">
              Rory’s Favourite Hole - Ginger Beer
              <span class="icon-stack icon-stack-left icon-lg">
                <i class="icon icon-circle-outline icon-stack-1x"></i>
                <i class="icon icon-chevron-right-sm icon-stack-1x"></i>
              </span></a></p>
        </div>
      </div>
    </div>
  </div>
</section>
